<main id="main">

    <!-- Division Line -->
    <p id="p-divisionLine">Put another game for sale!</p>
    <hr>
    <!-- /Division Line -->

    <!-- Form container -->
    <section id="section">
        <div>
            <h1>PRODUCT INFORMATION</h1>
        </div>
        <form>
            <div class="label-input">
                <label for="name">Game Name:</label>
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="label-input">
                <label for="description">Description:</label>
                <textarea type="text" name="description" id="description" rows="3">Maximum 1000 characters</textarea>
            </div>
            <div class="label-input">
                <label for="sort">Category:</label>
                <select name="category" id="category">
                    <option>Category</option>
                </select>
                <p>Cannot find category? <a href="">Create category</a></p>
            </div>
            <div class="label-input">
                <label for="picture">Picture:</label>
                <input type="text" name="picture" id="picture" placeholder="Paste the URL of the picture here">
            </div>
            <div class="label-input">
                <label for="price">Price:</label>
                <input type="text" name="price" id="price" placeholder="Price format: 00.00">
            </div>
            <div class="button">
                <button type="submit" id="btn-1">Add Product for Sale</button>
                <button id="btn-2">Return</button>
            </div>
        </form>
    </section>
    <!-- Form container -->

    <!-- Category Modal-->

    <!-- /Category Modal-->


</main>