#main {
    padding: 2vw 5vw;
    background: linear-gradient(0deg, rgba(29,6,26,1) 11%, rgba(254,29,74,1) 100%);
}

#p-divisionLine {
    margin: 0;
    padding: 2vw 0 0 0;
    font-weight: 600;
    font-size: 1rem;
}

hr {
    padding: 0 0 5vw 0;
    margin: 0;
}

.label-input {
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    background-color: rgba(217, 217, 217, .2);
    border: 0;
    border-bottom: solid 1px var(--white-color);
    font-size: 1rem;
    width: 40vw;
    margin-bottom: 5vw;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:before,
.container .box:after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .box .content p {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.container .box .content p span {
    font-size: 1.2rem;
    font-weight: 400;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1em;
  color: var(--background1-color);
  background-color: rgba(217, 217, 217, .4);
  padding: 0 8px;
  border-radius: 22px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}