<main id="main">

    <!-- Division Line -->
    <p id="p-divisionLine">Hello, User!</p>
    <hr>
    <!-- /Division Line -->

    <!-- Select input -->
    <div class="label-input">
        <select name="sort" id="sort">
            <option>Search by genre</option>
        </select>
    </div>
    <!-- /Select input -->

    <!-- Products -->
    <div class="container">

        <div class="box">
            <div class="content">
                <img src="../../assets/img/img-product-test.png" alt="Imagem do usuário" width="225px" height="278px">
                <div id="info">
                    <p><span>$ </span>9.50</p>
                    <a href="#">Overview</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../assets/img/img-product-test.png" alt="Imagem do usuário" width="225px" height="278px">
                <div id="info">
                    <p><span>$ </span>9.50</p>
                    <a href="#">Overview</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../assets/img/img-product-test.png" alt="Imagem do usuário" width="225px" height="278px">
                <div id="info">
                    <p><span>$ </span>9.50</p>
                    <a href="#">Overview</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /Products -->

</main>