<main id="main">
    <section id="section">
        <div id="div-img">
            <img src="../../assets/img/logo.png" alt="logo" id="logo">
        </div>
        <div>
            <h1>SIGN IN</h1>
        </div>
        <form>
            <div class="label-input">
                <label for="email">Email:</label>
                <input [(ngModel)]="userLogin.usuario" type="text" name="email" id="email">
            </div>
            <div class="label-input">
                <label for="password">Password:</label>
                <input [(ngModel)]="userLogin.senha" type="password" name="password" id="password">
            </div>
            <div class="button">
                <button type="submit" (click)="login()">LOG IN</button>
            </div>
            <div class="signup">
                <p>Doesn't have an account? <a routerLink="/sign-up">Sign Up</a></p>
            </div>
        </form>
    </section>
</main>