<main id="main">

    <!-- Division Line -->
    <p id="p-divisionLine">Create Category</p>
    <hr>
    <!-- /Division Line -->

    <!-- Create Categoty Input -->
    <div class="create-category">
        <input type="text" name="category" id="category" placeholder="Type the category name">
        <button type="submit" id="btn-create">Create Category</button>
    </div>
    <!-- /Create Categoty Input -->

    <!-- Division Line -->
    <p id="p-divisionLine">Category List</p>
    <hr>
    <!-- /Division Line -->

    <!-- Section Category Actions -->
    <section id="section">
        <table>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Example</td>
                <td><button id="btn-edit">Edit</button><button id="btn-delete">Delete</button></td>
            </tr>
        </table>
    </section>
    <!-- /Section Category Actions -->

</main>