<main id="main">
    <section id="section">
        <div id="div-img">
            <img src="../../assets/img/logo.png" alt="logo" id="logo">
        </div>
        <div>
            <h1>CREATE ACCOUNT</h1>
        </div>
        <form>
            <div class="col-1">
                <div class="label-input">
                    <label for="name">Name:</label>
                    <input [(ngModel)]="user.nome" type="text" name="name" id="name" placeholder="Type the name you like to be called">
                </div>
                <div class="label-input">
                    <label for="email">Email:</label>
                    <input [(ngModel)]="user.usuario" type="text" name="email" id="email" placeholder="Type a valid Email Adress">
                </div>
                <div class="label-input">
                    <label for="userType">Select what type of user:</label>
                    <select (change)="readUserType($event)" name="userType" id="userType">
                        <option>Are you a buyer or a seller?</option>
                        <option value="buyer">Buyer</option>
                        <option value="seller">Seller</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="label-input">
                    <label for="password">Password:</label>
                    <input (input)="verifyPassword($event)" type="password" name="password" id="password" placeholder="At least 8 characters">
                </div>
                <div class="label-input">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input [(ngModel)]="user.senha" type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter password">
                </div>
                <div class="button">
                    <button (click)="signup()" type="submit">SIGN UP</button>
                </div>
                <div class="signin">
                    <p>Already have an account? <a routerLink="/login">Sign In</a></p>
                </div>
            </div>
        </form>
    </section>
</main>